PORT=5000
DATABASE_URL="postgresql://neondb_owner:npg_Wqrx3puUbPi6@ep-misty-paper-aiuzqiqr-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_ACCESS_SECRET="your_access_secret_key"
JWT_REFRESH_SECRET="your_refresh_secret_key"
FRONTEND_URL="http://localhost:5173"
